<div class="container">
  <div class="row">
    <%= month_calendar(attribute: :created_at, events: @images) do |date, image|%>
      <%= date.strftime("%d") %>
      <br>
      <% unless image[0].blank? %>
        <%= link_to image_tag("wear_images/#{image[0].image_path}", style: "width:100%;"), image_path(image[0].id) %><br>
      <% end %>
      <div class="event">
        <% event = Event.find_by(start_date: date) %>
        <% if event %>
          <% if event.title.length > 3 %>
            <span><%= event.title.slice(0..1) %>...</span>
          <% else %>
            <span><%= event.title %></span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<br>