<div class="container">
  <div class="row" style="margin-top:10px;">
    <div class="col s12  offset-m2 m8">
      <div class="card">
        <div class="card-image" style="background-color: lightgray;">
          <%= image_tag "wear_images/#{@image.image_path}" %><br>
          <span class="card-title" style="font-size: 20px; background-color: rgba(0,0,0,0.3);"><%= @image.created_at.strftime("%m/%d") %></span>
        </div>
        <div class="card-content" style="padding:5px">
          <div class="row">
            <div class="col s9">
              <h5 style="margin-left: 20px;">
                <% @image.rating ||= 0 %>
                <% (1..5).to_a.each do |i| %>
                  <% if @image.rating >= i %>
                    <%= link_to "★", set_rating_image_path(rating: i), class: "rating-star" %> 
                  <% else %>
                    <%= link_to "☆", set_rating_image_path(rating: i), class: "rating-star" %> 
                  <% end %>
                <% end %>
              </h5>
            </div>
            <div class="col s3">
              <a class="modal-trigger" href="#modal1">
                <i class="material-icons" style="font-size: 40px; color: darkcyan; margin-top: 8px;">add_circle</i>
              </a>
            </div>
          </div>

        </div>
        <% events = Event.where(start_date: @image.wear_date) %>
        <% if events.count > 0 %>
          <div>
            <p style="margin-left:20px; font-size:20px;">この日のイベント</p>
          </div>
          <% events.each do |event| %>
            <div class="card-action">
              <%= link_to event.title, search_images_path(keyword: event.title), method: :post %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <h5 class="header">フォルダに追加</h5>
    <div class="collection">
      <%#= link_to "新規フォルダ作成", add_folder_image_path(folder_id: 0), class: "collection-item", style: "font-size:15px;" %>
      <a class="collection-item modal-trigger" href="#modal2">新規フォルダ作成</a>
      <% Folder.all.each do |folder| %>
        <p class="collection-item">
          <%= link_to folder.title, add_folder_image_path(folder_id: folder.id), style: "font-size:20px;" %>
          <% if FolderItem.where(image_id: @image.id).count > 0 %>
            <i class="material-icons" style="font-size: 30px; color: darkcyan; position: relative; top: 3px;">check</i>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<div id="modal2" class="modal">
  <%= form_tag(add_folder_image_path) do %>
    <div class="modal-content">
      <h5>フォルダ名入力</h5>
        <%= text_field_tag "folder-title" %>
    </div>
    <div class="modal-footer">
      <%= submit_tag "保存", class: "modal-close waves-effect waves-green btn-flat" %>
    </div>
  <% end %>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  $('.modal').modal();
});
</script>